.contenedor{
    width: auto;
    height: auto;
    overflow: hidden;
    border: solid 5px black;
}
body{
    margin: auto;
    padding: 30px;
    text-align: center;
}
.botones{
    float: left;
    width: 200px;
    height: 400px;

}
.boton{
    margin: 30px 0 30px 30px;
    width: 100px;
    height: 60px;
    border: solid 4px black;
    text-align: center
}
#peperoni{
    background: yellow;
}
#hawaiana{
    background: blue;
}
#mexicana{
    background: green;
}
#champinion{
    background: red;
}
#peperoni:hover,
#mexicana:hover,
#champinion:hover,
#hawaiana:hover{
    opacity: 0.6;
}
#piz{
    font-family: 'Arial';
    margin-left: 600px;
    margin-right: 40px;
    background: #B861B6;
    color: white;
    padding: 0;
    border-radius: 20px;
}
.pizza{
    position: relative; 
    border: 1px solid black; 
    padding: 0; 
    margin: 1em auto; 
    width: 20em; 
    height: 20em; 
    border-radius: 50%; 
    list-style: none; 
    margin-top: 50px;
    margin-left: 450px;
    border-radius: 50%; 
    position: relative; 
    overflow: hidden;
    margin-right: 700px;
    border: solid 13px #EA8C21;
    background: gray;
}

li { 
    overflow: hidden; 
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 50%; 
    height: 50%; 
    transform-origin: 0% 100% ;  
} 

.reb{ 
    position: absolute; 
    left: -100%; /*une las puntas al centro*/
     width: 200%; 
     height: 200%;/*ajusta el largo de los triangulos con respecto al centro y los limites del circulo*/ 
     text-align: center; 
     transform: skewY(45deg) rotate(15deg); /*Angulo de corte*/
     padding-top: 20px; 
     background: none;
     border: solid 2px black;
} 
li:first-child {    
    transform: rotate(0deg) skewY(-45deg); /*tamaño del sector*/
    /*Ajustando giro desde el eje de su angulo y ajustando un ancho de 45 grados*/
    border: solid 2px black;
} 
li:nth-child(2) {
     transform: rotate(45deg) skewY(-45deg); 
     border: solid 2px black;
}
li:nth-child(3) {
    transform: rotate(90deg) skewY(-45deg);
    border: solid 2px black;
} 
li:nth-child(4){
    transform: rotate(135deg) skewY(-45deg); 
    border: solid 2px black;
} li:nth-child(5) {
    transform: rotate(180deg) skewY(-45deg); 
    border: solid 2px black;
} 
li:nth-child(6) {
    transform: rotate(225deg) skewY(-45deg); 
    border: solid 2px black;
} 
li:nth-child(7) {
    transform: rotate(270deg) skewY(-45deg); 
    border: solid 2px black;
}
li:nth-child(8)
{
    transform: rotate(315deg) skewY(-45deg); 
    border: solid 2px black;
}


